@media (min-width: 600px) {
    :root {
        --fs-2: 1.875rem;
    }

    .container {
        max-width: 550px;
        margin-inline: auto;
    }

    .has-scrollbar {
        gap: 25px;
        margin-inline: -25px;
        padding-inline: 25px;
        scroll-padding-left: 25px;
    }

    .has-scrollbar > li { min-width: calc(50% - 12.5px); }
}

@media (min-width: 768px) {

    :root {
        --fs-1: 2.5rem;
        --fs-5: 0.938rem;
        --fs-6: 0.875rem;
    }

    .container { max-width: 720px; }

    .btn {
        --fs-5: 1rem;
        padding: 12px 28px;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-1: 3.125rem;
        --fs-4: 1.375rem;
    }
    .container { max-width: 970px; }

    .btn { padding: 15px 40px; }
}
@media (min-width: 1200px) {
    :root {
        --fs-2: 2.75rem;
        --fs-4: 1.5rem;
    }
    .container { max-width: 1200px; }

    .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }
}